rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Skeleton rules (fill in later)
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
