rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Skeleton rules (fill in later)
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
